<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Автомобиль</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div th:text="${errors}" class="margin-bottom alert-danger"></div>
            <form action="#" th:action="@{/car/{id}(id=${id})}" th:object="${carDto}" method="post">
                <div class="mb-3">
                    <label for="model" class="form-label">Модель</label>
                    <input type="text" class="form-control" id="model" th:field="${carDto.model}" required>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Стоимость</label>
                    <input type="text" class="form-control" id="price" th:field="${carDto.price}" required>
                </div>
                <div class="mb-3">
                    <label for="owner" class="form-label">Владельцы</label>
                    <div class = "input-group">
                        <select class="form-control" id="owner" th:field="${carDto.owner}">
                            <option th:each = "owner, iterator: ${owners}" th:value="${owner.id}"
                                    th:text="${owner.firstName} + ' ' + ${owner.lastName}"></option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="sto" class="form-label">СТО</label>
                    <div class = "input-group">
                        <select class="form-control" id="sto" th:field="${carDto.sto}">
                            <option th:each = "sto, iterator: ${stos}" th:value="${sto.id}"
                                    th:text="${sto.name}"></option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary button-fixed">
                        <span th:if="${id == null}">Добавить</span>
                        <span th:if="${id != null}">Обновить</span>
                    </button>
                    <a class="btn btn-secondary button-fixed" th:href="@{/car}">
                        Назад
                    </a>
                </div>
            </form>
        </div>
    </body>
</html>