<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}" xmlns:layout="http://www.w3.org/1999/xhtml">
    <head>
        <title> Владелец</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div th:text="${errors}" class="margin-bottom alert-danger"></div>
            <form action="#" th:action="@{/owner/{id}(id=${id})}" th:object="${ownerDto}" method="post">
                <div class="mb-3">
                    <label for="firstName" class="form-label">Имя</label>
                    <input type="text" class="form-control" id="firstName" th:field="${ownerDto.firstName}">
                </div>
                <div class="mb-3">
                    <label for="lastName" class="form-label">Фамилия</label>
                    <input type="text" class="form-control" id="lastName" th:field="${ownerDto.lastName}">
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary button-fixed">
                        <span th:if="${id == null}">Добавить</span>
                        <span th:if="${id != null}">Обновить</span>
                    </button>
                    <a class="btn btn-secondary button-fixed" th:href="@{/owner}">
                        Назад
                    </a>
                </div>
            </form>
        </div>
    </body>
</html>