<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
    <head>
        <title>СТО</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div th:text="${errors}" class="margin-bottom alert-danger"></div>
            <form action="#" th:action="@{/sto/{id}(id=${id})}" th:object="${stoDto}" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Название</label>
                    <input type="text" class="form-control" id="name" th:field="${stoDto.name}" required>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary button-fixed">
                        <span th:if="${id == null}">Добавить</span>
                        <span th:if="${id != null}">Обновить</span>
                    </button>
                    <a class="btn btn-secondary button-fixed" th:href="@{/sto}">
                        Назад
                    </a>
                </div>
            </form>
        </div>
    </body>
</html>